*{
    box-sizing:border-box ;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

.full-container{
    background-color: #fffff0;
    width: 100%;
    height: 1900vh;
    position: sticky;
}

.hero-page{
    position: relative;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.praveen{
    font-size: clamp(6rem,40vw,25rem);
    font-weight: 700;
    font-family: oswald;
    color: #373737;
    line-height: 1;
    white-space: nowrap;
}

.upp-praveen{
    position: absolute;
    top: -21%;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: 0.9;
}
.lo-praveen{
    position: absolute;
    bottom: -21%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0.9;
}

.nav{
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 70px;
    font-size: 1.2rem;
    font-family: 'Poppins';
    color: #373737;
}

.nav li{
    cursor: pointer;
    font-weight: 600;
    transition: opacity 0.3s;
}

.nav li:hover{
    color:rgb(0, 101, 0);
}

.nav ul li a{
    text-decoration: none;
    color: #373737;
}

.nav ul li a:hover{
    color: rgb(0, 101,0);
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 5;
    margin-top: 20px;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-text{
    font-size: clamp(3rem, 15vw, 7rem);
    font-weight: 700;
    font-family: oswald;
    color: #373737;
    line-height: 1;
    margin-bottom: 20px;
}
.hyphen{
    color: rgb(0, 101, 0);
}
.des-text{
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: #373737;
    font-family: poppins, Roboto, sans-serif;
    font-weight: 400;
    max-width: 700px;
}

.about{
    padding: 80px 52px;
    margin-top: 350px;
    height: 150vh;
    margin-bottom: 45vh;
}

.skills{
    font-size: clamp(1.2rem, 4vw, 20rem);
    font-weight: 600;
    color: #373737;
    font-family: "Poppins";
    line-height: 1.5;
    transition: opacity 0.3s ease;
}

.skill{
    cursor: pointer;
    transition: font-weight 0.3s ease, opacity 0.3s ease;
}

.hi{
    font-size: clamp(1.2rem, 4.2vw, 20rem);
    color:rgb(0, 101, 0);;
}
.skill span{
    color: #373737;
}

.skills:has(.skill:hover) .skill:not(:hover){
    opacity: 0.3;
}

.skill:hover{
    opacity: 1;
}

.hi:hover{
    color:#373737;
}

.recent-work{
    display: flex;
    align-items: center;
    justify-content: left;
    height: (100vh-1px);
    top: -1px !important;
    margin-bottom: 200px;
}


.left-container{
    height: 100vh;
    width: 50%;
    padding-left: 50px;
    padding-right: 50px;
}

.left-container h1{
    font-family: poppins;
    font-size: clamp(1.2rem, 8.2vw, 20rem);
    line-height: 0.9;
    margin-top: 3rem;
    color: #373737;
}
.left-container .time-line{
    position: relative;
    bottom: -42%;
}

.left-container .project{
    display: flex;
    justify-content: space-between;
    font-family: poppins;
    font-weight: 600;
}
.left-container .project .project-details{
    display: flex;
}

.left-container .project .project-details .project-no{
    color: rgb(0, 101, 0);
    padding-right: 5px;
}
.right-container{
    
    overflow: none;
    position: absolute;
    right: 0;
    height: 100vh;
    width: 50%;
}
.right-container img{
    position: absolute;
    height: 100%;
    width: 100%;
}
.work{
    display: grid;
    grid-template-columns: 1.5fr 1.3fr;
    gap: clamp(1.5rem,8vw, 9rem);
    padding: 0 50px 0 50px;
    height: 120vh;
    font-family: "Poppins";
    overflow: hidden;
    margin-bottom: 200px;
}
.work .left{
    display: flex;
    flex-direction: row;
    gap: clamp(1.5rem,3vw, 4rem);
    position: relative;
    top: 24%;
}
.work-picture{
    width:100%;
    height: 20vh;
    max-width: clamp(160px,26vw, 360px);
    aspect-ratio: 4/3;
    border-radius: 2px;
    background-color: #373737;
    margin-bottom: 28px;
}

.work2{
    background-color: #9e9e00;
}

.work .left .number{
    font-size:clamp(1.2rem, 4vw, 20rem) ;
    font-weight: 600;
    padding-right: 40px;
    color: #373737;
    position: relative;
    top: -1%;
    margin-right: 10%;
    color: rgb(0, 101, 0);
    /* visibility:hidden; */
}

.work .left .number .work-no{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
} 
.work .pictures{
    padding-right: 40px;
    margin-bottom: 200px;
}


.work .left  .details .names{
    margin-bottom: 122%;   
}

.work .left .details .names .name{
    display: flex;    
    color: rgb(0, 101, 0);
    font-weight: 700;
}

.work .left .details .names .name .arrow{
    position: absolute;
    right: 0;
    color: rgb(0, 101, 0);
}


.work .left .details .descriptions .description{
    position: absolute;
    visibility: hidden;
}

.video-section{
    position: relative;
    top: 10%;
    
}
.video-section .title{
    font-size: clamp(1.2rem, 8.2vw, 20rem);
    font-weight: 700;
    text-align: center;
    color: #373737;
}
.videos {
  width: 100%;
  max-width: clamp(300px, 40vw,600px);
  aspect-ratio: 16 / 9;
  background: #d9d9d9;
  border-radius: 12px;
}

.contact{
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

.contact .footer-content{
    display: flex;
}
.contact .footer-content .contact-des{
    background-color: black;
    color: #fffff0;
    font-size:clamp(3rem,2vw,20rem);
    font-family: poppins;
    font-weight: 700;
    padding:8% 30% 0 50px ;
}

.contact .footer-content .links{
    background-color: black;
    color: #fffff0;
    font-size:clamp(2.2rem,2vw,20rem);
    font-family: poppins;
    font-weight: 700;
    padding-top: 10px;
    padding-right: 10px;
}

.contact .links{
    background-color: black;
    color: #fffff0;
}

.contact .footer-praveen{
    background-color: black;
    color: #fffff0;
    /* transform: rotate(180deg); */
    position: relative;
    bottom: -8%;
    white-space: 0;
    display: flex;
    justify-content: center;
    font-size: clamp(6rem,40vw,25rem);
}
